name: Docs

on:
  push:
    branches: [main]
  release:
    types: [released]
  pull_request:
    types: [opened, synchronize]

concurrency:
  # Cancel older, in-progress jobs from the same PR, same workflow.
  # use run_id if the job is triggered by a push to ensure
  # push-triggered jobs to not get canceled.
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  docs:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v5
    - uses: astral-sh/setup-uv@v6

    - name: Install Dependencies
      run: |
        uv venv
        source .venv/bin/activate
        uv pip install . --group doc

    - name: Build Docs
      run: |
        source .venv/bin/activate
        sphinx-build -b html docs docs/_build/html

    - name: Deploy Docs
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs/_build/html
